body {
  margin:0;
}

article {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}

h1, h2 {
  text-align: center;
  font-family: lato;
}

h2 {
  margin-top: 0;
  font-weight: 300;
  font-size: 32px;
  color: #999;
}

h1 {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 0;
  color: #333;
}

p {
  font-family: Merriweather;
  color: #444;
  line-height: ;
}

a {
  color: #444;
}

a:hover{
  color: #999;
}
